[mysqld]

bind-address = 192.168.50.21

binlog-checksum=crc32
gtid-mode=on
enforce-gtid-consistency=true
log-slave-updates=true
server-id = 2
replicate-do-db=bet
replicate-do-table=bet.bookmaker
replicate-do-table=bet.competition
replicate-do-table=bet.market
replicate-do-table=bet.odds
replicate-do-table=bet.outcome

log_bin = /var/log/mysql/bin.log
log-error=/var/log/mysqld.log